@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-size: 14px;
}
.page-title {
  display: block;
  font-size: 3rem;
}

.form-container {
  max-width: 500px;
  margin: 0 auto;
}

@import './style/index'
